<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/admin.css">
</head>
<body>
   <div class="maincenter">
    <div class="centercon">
     
        <form class="form" action="/adminpannel" method="post">
            <p class="form-title">Sign in to your account</p>
             <div class="input-container">
               <input type="email" placeholder="Enter email" name="em">
               <span>
               </span>
           </div>
           <div class="input-container">
               <input type="password" placeholder="Enter password" name="pswd">
             </div>
              <button type="submit" class="submit">
             Sign in
           </button>
     
           <p class="signup-link">
             No account?
             <a href="">Sign up</a>
           </p>
        </form>
     
       </div>
   </div>
</body>
</html>